name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      db:
        image: postgres:15-alpine
        env:
          POSTGRES_USER: kubsu
          POSTGRES_PASSWORD: kubsu
          POSTGRES_DB: kubsu
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies and run tests
        run: |
          cd docker
          pip install ".[test]"
          export DATABASE_URL=postgresql+psycopg://kubsu:kubsu@localhost:5432/kubsu
          export PYTHONPATH=$PYTHONPATH:$(pwd)
          pytest tests
        env:
          DATABASE_URL: postgresql+psycopg://kubsu:kubsu@localhost:5432/kubsu

  build:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        run: |
          cd docker
          docker build -t myapp-test:${{ github.sha }} .
          docker push myapp-test:${{ github.sha }}

  deploy:
    needs: build
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to Server
        run: |
          podman pull myapp-test:${{ github.sha }}
          podman stop usersapp || true
          podman rm usersapp || true
          podman run -d --name usersapp --network host \
            -e DATABASE_URL="postgresql+psycopg://kubsu:kubsu@localhost:5432/kubsu" \
            -e ROOT_PATH="/${{ secrets.USERNAME }}" \
            myapp-test:${{ github.sha }}

          podman ps
